# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## User settings
**/xcuserdata/
**/DerivedData/
**/*.xcuserstate
**/*.mode1v3
**/*.pbxuser

## Xcode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata

## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
**/Packages/
**/Package.pins

## Build artifacts
**/Build/
**/*.app
**/*.xcarchive
**/*.framework

# Config Files
**/GoogleService-Info.plist
**/Secrets.plist

# OS X
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
